@model StreamScan.ViewModels.MachinesViewModel
@{
    ViewBag.Title = "StreamX Machines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    //Sélectionne le bon menu dans la barre de navigation
    document.querySelectorAll(".nv-machines").forEach(function (el) { el.className += " active"; })
</script>
<div class="row col-md-12">
    @using (var form = Html.Bootstrap().Form(FormMethod.Get).AddCss(Css.ColMd4, Css.Row).SetId("enterprisesForm").HideValidationSummary().Begin())
    {
        @form.SelectFor(m => m.enterprise, Model.CmxEnterprises).SetId("enterprisesSelect")
        @Html.ValidationMessageFor(m => m.enterprise)
    }
    @if (Model.enterprise != 0)
    {
        using (var form = Html.Bootstrap().Form(FormMethod.Get).AddCss(Css.ColMd4).SetId("facilitiesForm").HideValidationSummary().Begin())
        {
            @form.SelectFor(m => m.facility, Model.CmxFacilities).SetId("facilitiesSelect")
            @Html.ValidationMessageFor(m => m.facility)
        }

        if (Model.enterprise != 0 || Model.facility != 0)
        {
            Html.RenderPartial("MachinesArray", this.Model);
        }
    }
</div>

<script>
    @{
        //On supprime les paramètres de la route pour pouvoir récupérer la bonne URL
        Request.RequestContext.RouteData.Values.Remove("enterprise");
        Request.RequestContext.RouteData.Values.Remove("facility");
    }
    // Change l'URL selon la sélection de la combobox des entreprises
    $('#enterprisesSelect').on('change', function () {
            var enterprise = ($('#enterprisesSelect').val() != 0) ? $('#enterprisesSelect').val() : "";
            location = "@Url.Action("Index", "Machines")" + "/" + enterprise;
        })
    // Change l'URL selon la sélection de la combobox des ouvrages
    $('#facilitiesSelect').on('change', function () {
            var enterprise = ($('#enterprisesSelect').val() != 0) ? $('#enterprisesSelect').val() : "";
            var facility = ($('#facilitiesSelect').val() != 0) ? $('#facilitiesSelect').val() : "";
            location =  "@Url.Action("Index", "Machines")" + "/" + enterprise + "/" + facility;
        })
</script>