@model List<StreamScan.Models.Enterprise>
@{
    ViewBag.Title = "Enterprises";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    //Sélectionne le bon menu dans la barre de navigation
    document.querySelectorAll(".nv-entfac").forEach(function (el) { el.className += " active"; })
</script>

@Html.Bootstrap().LinkButton("New enterprise...", "/Enterprises/New").AddStyle("margin-bottom", "10px")
@using (var table = Html.Bootstrap().Table().RemoveCss("table").SetId("enterprises-table").Begin())
{
    @table.TableHeaderRow("Name", "Address", "NPA", "City", "Actions")
    foreach (StreamScan.Models.Enterprise enterprise in Model)
    {
        using (var row = table.TableDataRow().Begin())
        {
            @row.TableData(enterprise.Name)
            @row.TableData(enterprise.Address)
            @row.TableData(enterprise.Npa)
            @row.TableData(enterprise.City)
            using (row.TableData().Begin())
            {
                @Html.Bootstrap().Link("Show facilities", "Index", "Facilities", new { enterprise = enterprise.Id }).AddStyle("padding-right", "5px")
                @Html.Bootstrap().Link("", "Update", "Enterprises", new { enterprise = enterprise.Id }).SetIcon(Icon.Edit).AddCss("icon-link text-success").AddStyle("text-decoration", "none")
                @Html.Bootstrap().Link("").SetIcon(Icon.Remove).AddCss("icon-link text-danger").AddAttributes(new { @data_toggle = "modal", @data_target = $"#delete-confirm-{enterprise.Id}" }).AddStyle("text-decoration", "none")
            }
        }
        <div class="modal fade" id="delete-confirm-@enterprise.Id" tabindex="-1" role="dialog" aria-labelledby="delete-confirm-label">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delete-confirm-label">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want to delete this enterprise ?</p>
                        <p>All facilities and machines contain in it will be deleted.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        @using (Html.Bootstrap().Form("Delete", "Enterprises", FormMethod.Post, new { enterprise = enterprise.Id }).HideValidationSummary().AddCss("inline-form").Begin())
                        {
                            @Html.Bootstrap().Button("Delete", ButtonType.Submit).AddCss("btn-danger")
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}
<script>
    $(document).ready(function () {
        // Initialise la Datatable en désactivant le tri de la colonne des actions
        var table = $('#enterprises-table').DataTable({
            columnDefs: [
                { targets: [4], orderable: false }
            ]
        });
    });
</script>